html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
        font-smooth: never;
    -webkit-font-smoothing : none;
}

.global-wrapper {
    height: 100%;
    width: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.screen {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    /*margin: 30px auto;*/
    display: none;
    /*box-shadow: 0px 0px 4px black;*/
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.screen-active {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*display: block;*/
}

.progress-total {
    height: 1px;
    width: 400px;
    background-color: rgb(230, 230, 230);
}
.progress-current {
    height: 1px;
    background-color: black;
    width: 0;
}

.menu-screen span {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 18pt;
}

.intro-message {
    width: 50%;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15pt;
}

.intro-message div {
    text-align: center;
    padding: 50px 0;
}

.link {
    font-weight: 300;
    cursor: pointer;
}

.link:hover {
    font-weight: 300;
}

.world-wrapper {
    position: relative;
    font-family: 'Courier New', monospace;
    font-size: 17pt;
}

.fishing-screen {
    background: rgba(255, 255, 255, 0.3);
}

.fishing-wrapper {
    box-shadow: 0px 0px 5px black;
    padding: 50px;
    background: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15pt;
}

#fishing-text {
    text-align: center;
    padding-bottom: 50px;
}

#fishing-progress-total {
    width: 300px;
    height: 50px;
    background: rgb(220, 220, 220);
}

#fishing-progress-current {
    height: 50px;
    background: rgb(0, 0, 0);
}

.info-bar-top {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
}

#label-text {
    position: absolute;
    right: 0px;
}

.world-table {
    box-shadow: inset 0px 0px 20px 5px whitesmoke;
    border-spacing: 0px;
    border-collapse: separate;
}

.world-table td {

    border-spacing: none;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: right;
    padding: 5px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 10pt;
}